<!DOCTYPE html>
<html>
  <head>
    <title>Golf Web</title>
  </head>
  <body>
    <h1>Golf Web</h1>

    <br>
    <div>
      <button (click)="add()">Add user</button>
    </div>
    <br>

    <table *ngIf="allUsers">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let u of allUsers">
        <td>{{ u.firstName }} {{ u.lastName }}</td>
        <td>{{ u.email }}</td>
        <td><button (click)="details(u.userId)">Details</button></td>
        <td><button (click)="edit(u.userId)">Edit</button></td>
        <td><button (click)="delete(u.userId)">Delete</button></td>
      </tr>
    </table>
  </body>
</html>
<router-outlet></router-outlet>